* {
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul > li {
    list-style: none;
}

/* 기본설정 끝 */

.main {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Main_end */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.white-background .header {
    background-color: rgba(255, 255, 255, 0.8);
}

.white-background .menu_list {
    display: none;
}

/* Header_end */

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
    transition: display 0.3s ease;
}

.menu_list > li {
    position: relative;
}

.menu_list > li > a {
    display: inline-block;
    text-transform: uppercase;
}

.menu_list > li > a:after {
    content: '';
    display: block;
    border-bottom: solid 2px #212221;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.menu_list > li > a:hover:after {
    transform: scaleX(1);
}

.menu_list > li:nth-child(6) {
    font-weight: bold;
}

.main_menu {
    position: relative;
    margin: 0 20px;
}

.main_menu:hover .sub_menu {
    display: block;
}

/* Menu_list_end */

.sub_menu {
    width: 150px;
    padding: 10px;
    font-size: 15px;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    animation-name: slide_up;
    animation-duration: 1s;
    position: absolute;
    top: 100%;
    left: 0;
}

@keyframes slide_up {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(1, 15%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.sub_menu > li {
    text-align: left;
    margin: 5px 0;
    transition: all 0.3s;
}

.sub_menu > li > a {
    color: rgba(0, 0, 0, 0.5);
}

.sub_menu > li:hover > a {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

/* Sub_Menu_end */

.Show_menu {
    background-color: rgba(11, 30, 48, 0.9);
    color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

/* Show_menu_end */

.Show_Menu_Close_Button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.Show_Menu_Close_Button_Link {
    color: #fff;
    font-size: 18px;
}

/* Show_Menu_Close_Button_end */

.Show_Menu_List_item {
    font-size: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.Show_Menu_List > .Show_Menu_List_item:last-child {
    border: none;
}

.Show_Menu_List_Sub_Menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-weight: 500;
    column-gap: 40px;
    width: 50%;
}

.Show_Menu_List_Sub_Menu > li {
    font-size: 16px;
}

/* Show_Menu_List_end */

.logo {
    display: flex;
    justify-content: flex-start;
}

.Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.My_page_Icon {
    margin-right: 5px;
}

.Menu_Bar {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.Main_BG {
    display: block;
    width: 100%;
    height: 100vh;
}

.bg-image {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.BG_Image > img {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.BG_Image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in-out;
}

.BG_Image img.active {
    opacity: 1;
    z-index: 1;
}

.BG_Image__0 {
    z-index: 1;
}

.BG_Image__1 {
    z-index: 0;
}

.BG_Image__2 {
    z-index: 0;
}

.BG_Text {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    transform: translateX(-10%);
}

.BG_Text h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.BG_Text h3 {
    margin: 30px 0;
    font-size: 30px;
}

.BG_Text h4 {
    line-height: 25px;
    font-size: 18px;
}

.BG_Text_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all 0.3s ease-out 0s;
    position: absolute;
    z-index: 10;
    top: 52%;
    left: 10%;
    transform: translateX(-10%);
}

.BG_Text_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}

.fade-in {
    opacity: 0;
    animation: fade-in-animation 2s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    animation: fade-out-animation 2s ease-in-out forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Main_Visual_end */

.Main_Product_Box {
    width: 100%;
}

.Main_Product_Top_Box {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Main_Product_Box_end */

.Main_Product_Top_Box_Left {
    width: 50%;
}

.Top_Left_Box_Top_Txt {
    font-size: 30px;
}

.Top_Left_Box_Mid_Txt {
    margin-top: 30px;
    color: #4d4e4d;
    font-size: 18px;
    line-height: 28px;
}

.Top_Left_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all 0.3s ease-out 0s;
}

.Top_Left_Box_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}

/* Main_Product_Box_Left_end */

.Main_Product_Top_Box_Right {
    width: 50%;
}

.Top_Right_Box_Img > img {
    display: block;
    width: 100%;
}

/* Main_Product_Box_right_end */

.Main_Product_Mid_Box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main_Product_Mid_Box_end */

.Main_Product_Mid_Box_Left {
    width: 50%;
}

.Mid_Left_Box_Img > img {
    display: block;
    width: 100%;
}

/* Main_Product_Mid_Box_Left_end */

.Main_Product_Mid_Box_Right {
    width: 50%;
    text-align: center;
}

.Mid_Right_Box_Top_Txt {
    font-size: 30px;
}

.Mid_Right_Box_Mid_Txt {
    margin-top: 30px;
    color: #4d4e4d;
    font-size: 18px;
    line-height: 28px;
}

.Mid_Right_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all 0.3s ease-out 0s;
}

.Mid_Right_Box_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}

/* Main_Product_Right_Box_end */

.Main_Product_Bottom_Box {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

/* Main_Product_Bottom_Box_end */

.Main_Product_Bottom_Box_Left {
    width: 50%;
}

.Bottom_Left_Box_Top_Txt {
    font-size: 30px;
}

.Bottom_Left_Box_Mid_Txt {
    margin-top: 30px;
    color: #4d4e4d;
    font-size: 18px;
    line-height: 28px;
}

.Bottom_Left_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all 0.3s ease-out 0s;
}

.Bottom_Left_Box_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}

/* Main_Product_Bottom_Box_Left_end */

.Main_Product_Bottom_Box_Right {
    width: 50%;
}

.Bottom_Right_Box_Img > img {
    display: block;
    width: 100%;
}

/* Main_Product_Bottom_Box_Right_end */

.Top_Banner_Img_Box {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.Top_Banner_Img_Box > img {
    display: block;
    width: 100%;
}

/* Top_Banner_Img_end */

.Top_Banner_Txt {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.Top_Banner_Box_Top_Txt {
    font-size: 40px;
    font-weight: 600;
}

.Top_Banner_Box_Mid_Txt {
    margin-top: 30px;
    font-size: 18px;
}

.Top_Banner_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out 0s;
}

.Top_Banner_Box_Btn:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

/* Top_Banner_Txt_end */

.Bottom_Banner_Img_Box {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.Bottom_Banner_Img_Box > img {
    display: block;
    width: 100%;
}

/* Bottom_Banner_Img_end */

.Bottom_Banner_Txt {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #212221;
}

.Bottom_Banner_Box_Top_Txt {
    font-size: 40px;
    font-weight: 600;
}

.Bottom_Banner_Box_Mid_Txt {
    margin-top: 30px;
    font-size: 18px;
}

.Bottom_Banner_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    color: #212221;
    border: 1px solid #212221;
    transition: all 0.3s ease-out 0s;
}

.Bottom_Banner_Box_Btn:hover {
    background-color: #212221;
    color: #fff;
    cursor: pointer;
}

/* Bottom_Banner_Txt_end */

.Count_Page {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 80px;
    height: auto;
    overflow-x: hidden;
    background-image: url(./svg/main_number_logo.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.Count_Page_Sub_Title {
    position: absolute;
    right: 10px;
    top: 100px;
    color: #4d4e4d;
    font-size: 18px;
}

.Count_Menu {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Count {
    margin: 0 auto;
    font-size: 60px;
    font-weight: 300;
}

.Count_List {
    display: flex;
    justify-content: center;
    font-size: 108px;
    font-weight: 300;
    line-height: 90px;
    vertical-align: text-top;
    font-family: Arial, Helvetica, sans-serif;
    color: #123250;
}

.Count_List > li {
    font-size: 20px;
    transform: translateY(-50%);
}

.Count > .Sub {
    margin-left: 10px;
}

.Count > li {
    display: block;
    margin-top: 25px;
    color: #212221;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.Bottom_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Bottom_Menu > div {
    margin: 0 auto;
}

/* Count_Page_end */

.News_Page {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.Inner {
    padding: 0 20px;
    height: 100%;
    overflow-x: hidden;
}

.News_Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    width: 100%;
    padding-top: 20px;
}

.News_Title > h1 {
    margin: 0 auto;
}

.News_Btn {
    position: absolute;
    width: 54px;
    height: 54px;
    right: 20px;
    font-size: 30px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}

.News_Btn:hover {
    background-color: #000;
    color: #fff;
}

/* News_Page_Title_end */

.Main_News_Content {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;
    top: 20%;
}

.Main_News_Content > .Content:nth-child(2) {
    margin: 0 100px;
}

.Main_News_Content > img {
    display: block;
    width: 100%;
}

.Main_News_Title {
    max-width: 450px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #212221;
}

.Main_News_Date {
    font-size: 14px;
    color: #212221;
    font-weight: 300;
}

/* Main_News_Page_end */

.Main_Bottom_Box {
    width: 100%;
}

.Main_Bottom_Img {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.Main_Bottom_Img > img {
    width: 100%;
    height: 480px;
    display: block;
}

/* Main_Bottom_Img_end */

.Main_Bottom {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.Left_Arrow,
.Right_Arrow {
    cursor: pointer;
}

.Left_Arrow {
    width: 10%;
    font-size: 50px;
    margin-left: 30px;
    font-weight: 500;
}

.Main_Bottom_Txt {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 19%;
    right: 0;
    color: #fff;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: 600;
}

.Main_Bottom_Txt > div:nth-child(2) {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}

.Right_Arrow {
    font-size: 50px;
    margin-right: 30px;
    font-weight: 500;
}

.Main_Bottom_Txt_Btn {
    display: inline-block;
    min-width: 220px;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 58px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
}

.Main_Bottom_Txt_Btn:hover {
    background-color: #fff;
    color: #212221;
}

/* Main_Bottom_Txt_end */

.Footer_Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
    position: relative;
}

/* Footer_Main_end */

.Footer_Top_Box {
    display: flex;
}

/* Footer_Top_Box_end */

.Footer_Top_Box_Left {
    width: 100%;
    position: relative;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
}

.Footer_Top_Box_Left > ul {
    margin-right: 15px;
}

/* Footer_Top_Box_Left_end */

.Footer_Menu_List {
    width: 30%;
}

.Footer_Menu_List > li > a {
    color: #fff;
    font-family: 500;
    font-size: 20px;
}

.Footer_Sub_Menu {
    margin-top: 15px;
    font-size: 18px;
    line-height: 30px;
}

.Footer_Sub_Menu > a {
    color: #fff;
}

/* Footer_Menu_end */

.Footer_Top_Box_Right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.Select {
    position: relative;
    top: 60px;
    right: 40px;
    font-size: 18px;
}

.Footer_Family .Select_Button {
    width: 280px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    border: transparent;
    background-color: #102d48;
    padding: 20px;
}

.Select_Button:after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 5px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: transform 0.3s ease-out 0s;
    display: flex;
    align-items: center;
}

.Select_List {
    width: 280px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 12px 0;
    border: 1px solid #e0e0e0;
    background: #fff;
    z-index: 10;
}

.Select_List.on {
    display: block;
}

.Select_List > li {
    padding: 5px 30px;
    cursor: pointer;
}

/* Footer_Top_Box_Right_end */

.Footer_Bottom_Box {
    padding: 60px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    text-align: left;
}

.Footer_Contents {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    line-height: 1;
}

.Footer_Contents > li {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.Footer_Item {
    font-weight: 300;
    line-height: 1;
}

.Footer_Item > strong {
    margin-right: 5px;
    font-weight: 600;
}

/* Footer_Content_end */

.Footer_Top {
    position: absolute;
    right: 60px;
    top: 350px;
    padding: 50px 22px 0;
    color: #fff;
    font-size: 15px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
    border: none;
    cursor: pointer;
}

.Footer_Top > a {
    color: #fff;
}

.Footer_Top:before {
    content: '↑';
    position: absolute;
    top: 0px;
    left: 50%;
    width: 16px;
    height: 32px;
    margin-left: -8px;
    background-repeat: no-repeat;
    background-size: 16px 32px;
    font-size: 30px;
}

/* Footer_Top_end */

.Footer_Bottom_Box_Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.Footer_Etc {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.Footer_Etc > li {
    display: inline-block;
}

.Footer_Etc > li > * {
    display: block;
    color: #fff;
}

/* Footer_Bottom_Box_Bottom_end */

@media screen and (min-width: 1025px) and (max-width: 1279px) {

    .menu_list {
        display: none;
    }

    /* Menu_list_end */

    .News_Title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 10%;
        transform: translateY(-10%);
        width: 100%;
        padding-top: 20px;
    }

    /* News_Page_Title_end */

    .Count_List {
        font-size: 80px;
    }

    .Footer_Bottom_Box {
        padding: 60px;
        border-top: 1px solid hsla(0, 0%, 100%, 0.1);
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-align: left;
    }

    .Footer_Contents {
        row-gap: 15px;
        column-gap: 0;
    }

    .Footer_Contents > li {
        flex-basis: 50%;
    }

    /* Footer_Content_end */

    .Footer_Bottom_Box_Bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 30px;
    }

    .Footer_Copyright {
        margin-top: 15px;
        line-height: normal;
    }

    .Footer_Etc {
        width: 90%;
        margin-left: -8px;
    }

    .Footer_Etc > li {
        display: inline-block;
    }

    .Footer_Etc > li > * {
        padding: 5px 8px;
    }

}

@media screen and (min-width: 770px) and (max-width: 1025px) {

    .menu_list {
        display: none;
    }
    
    /* Menu_List_end */
 
    .Count_Page {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 80px;
        height: auto;
        overflow-x: hidden;
        background-image: none;
        padding: 0 20px;
    }
    
    .Count_Page_Sub_Title {
        position: absolute;
        right: 0;
        top: 100px;
        color: #4d4e4d;
        font-size: 18px;
    }
    
    .Count_Menu {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Count {
        width: 100%;
        margin: 0 auto;
        font-size: 60px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 30px 0;
    }
       
    .Count > .Sub {
        margin-left: 10px;
        font-weight: bold;
        font-size: 26px;
    }
       
    .Bottom_Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Count_Page_end */
    
    .News_Page {
        margin-top: 0;
        padding: 10px 0;
        padding-top: 80px;
    }
    
    .News_Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .News_Title > h1 {
        font-size: 32px;
        text-align: left;
        line-height: 40px;
        position: absolute;

    }
    
    .News_Btn {
        position: absolute;
        width: 54px;
        height: 54px;
        right: 20px;
        font-size: 30px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out 0s;
    }
    
    .News_Btn:hover {
        background-color: #000;
        color: #fff;
    }
    
    /* News_Page_Title_end */
    
    .Main_News_Content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin-top: 50px;
    }
    
    .Content {
        width: 30%;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 20px;
    }    

    .Main_News_Content > .Content:nth-child(2) {
        margin: 0px;
    }

    .Main_News_Content > .Content > img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .Main_News_Title {
        max-width: 410px;
        margin-top: 30px;
        font-size: 18px;
        font-weight: 500;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 28px;        
    }
    
    /* Main_News_Page_end */
      
    .Footer_Main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
        position: relative;
    }
    
    /* Footer_Main_end */

    .Footer_Top_Box_Left {
        display: none;
    }
    
    /* Footer_Top_Box_Left_end */
    
    .Footer_Menu {
        display: none;
    }

    /* Footer_Menu_end */
    
    .Footer_Top_Box_Right {
        position: static;
        margin-bottom: 30px;
    }
    
    .Select {
        position: relative;
        left: 50%;
        font-size: 18px;
    }
    
    .Footer_Family .Select_Button {
        width: 500px;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        border: transparent;
        background-color: #102d48;
        padding: 10px 24px;
    }
    
    .Select_Button:after {
        content: '▼';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 10px;
        height: 5px;
        margin-top: -2px;
        background-repeat: no-repeat;
        background-position: 50%;
        transition: transform 0.3s ease-out 0s;
        display: flex;
        align-items: center;
    }
    
    .Select_List {
        width: 500px;
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        border: 1px solid #e0e0e0;
        background: #fff;
        z-index: 10;
    }
    
    .Select_List.on {
        display: block;
    }
    
    .Select_List > li {
        padding: 5px 30px;
        cursor: pointer;
    }
    
    /* Footer_Top_Box_Right_end */
    
    .Footer_Bottom_Box {
        padding: 60px;
        border-top: none;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-align: left;
    }
    
    .Footer_Contents {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        line-height: 1;
    }
    
    .Footer_Contents > li {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
    .Footer_Item {
        font-weight: 300;
        line-height: 1;
    }
    
    .Footer_Item > strong {
        margin-right: 5px;
        font-weight: 600;
    }
    
    /* Footer_Content_end */
    
    .Footer_Top {
        position: absolute;
        right: 30px;
        top: 250px;
        padding: 50px 22px 0;
        color: #fff;
        font-size: 15px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
        border: none;
        cursor: pointer;
    }
    
    .Footer_Top > a {
        color: #fff;
    }
    
    .Footer_Top:before {
        content: '↑';
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 16px;
        height: 32px;
        margin-left: -8px;
        background-repeat: no-repeat;
        background-size: 16px 32px;
        font-size: 30px;
    }
    
    /* Footer_Top_end */
    
    .Footer_Bottom_Box {
        padding: 60px;
        border-top: none;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-align: left;
    }

    .Footer_Contents {
        row-gap: 15px;
        column-gap: 0;
    }

    .Footer_Contents > li {
        flex-basis: 50%;
    }

    /* Footer_Content_end */

    .Footer_Bottom_Box_Bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 30px;
    }

    .Footer_Copyright {
        margin-top: 15px;
        line-height: normal;
    }

    .Footer_Etc {
        width: 90%;
        margin-left: -8px;
    }

    .Footer_Etc > li {
        display: inline-block;
    }

    .Footer_Etc > li > * {
        padding: 5px 8px;
    }
    
    /* Footer_Bottom_Box_Bottom_end */

}

@media screen and (max-width: 767px) {

    .menu_list {
        display: none;
    }
       
    /* Menu_list_end */    
    
    .Show_menu {
        background-color: rgba(11, 30, 48, 0.9);
        color: #fff;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
    }
    
    /* Show_menu_end */
    
    .Show_Menu_Close_Button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
    }
    
    .Show_Menu_Close_Button_Link {
        color: #fff;
        font-size: 28px;
    }
    
    /* Show_Menu_Close_Button_end */
    
    .Show_Menu_List_item {
        font-size: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        font-size: 40px;
    }
    
    .Show_Menu_List > .Show_Menu_List_item:last-child {
        border: none;
    }
    
    .Show_Menu_List_Sub_Menu {
        display: none;
    }
    
    /* Show_Menu_end */

    .Main_BG {
        display: block;
        width: 100%;
        position: relative;
        padding-top: 50vh;
        height: 300px;
    }
    
    .bg-image {
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .BG_Image > img {
        width: 100%;
        height: 100%;
        display: inline-block;
        background-position: 50%;
    }
    
    .BG_Image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        z-index: 0;
        transition: opacity 1s ease-in-out;
    }
    
    .BG_Image img.active {
        opacity: 1;
        z-index: 1;
    }
    
    .BG_Image__0 {
        z-index: 1;
    }
    
    .BG_Image__1 {
        z-index: 0;
    }
    
    .BG_Image__2 {
        z-index: 0;
    }


    .BG_Text {
        position: absolute;
        z-index: 1;
        top: 65%;
        left: 15%;
        transform: translateX(-15%);
    }
    
    .BG_Text h1 {
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .BG_Text h3 {
        margin: 20px 0;
        font-size: 20px;
    }
    
    .BG_Text h4 {
        line-height: 25px;
        font-size: 16px;
        color: #212221;
    }
    
    .BG_Text_Btn {
        display: inline-block;
        min-width: 165px;
        font-size: 14px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #212221;
        transition: all 0.3s ease-out 0s;
        position: absolute;
        z-index: 10;
        top: 85%;
        left: 10%;
        transform: translateX(-10%);
    }
    
    .BG_Text_Btn:hover {
        color: #fff;
        background-color: #212221;
        cursor: pointer;
    }
    
    .fade-in {
        opacity: 0;
        animation: fade-in-animation 2s ease-in-out forwards;
    }
    
    .fade-out {
        opacity: 1;
        animation: fade-out-animation 2s ease-in-out forwards;
    }
    
    @keyframes fade-in-animation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes fade-out-animation {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    /* Main_Visual_end */
    
    .Main_Product_Box {
        width: 100%;
    }
    
    .Main_Product_Top_Box {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    /* Main_Product_Box_end */
    
    .Main_Product_Top_Box_Left {
        width: 100%;
    }
    
    .Top_Left_Box_Top_Txt {
        font-size: 24px;
        margin-top: 15px;
        line-height: 34px;
    }
    
    .Top_Left_Box_Mid_Txt {
        margin-top: 30px;
        color: #4d4e4d;
        font-size: 18px;
        line-height: 28px;
    }
    
    .Top_Left_Box_Btn {
        display: inline-block;
        min-width: 165px;
        font-size: 14px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #212221;
        transition: all 0.3s ease-out 0s;
    }
    
    .Top_Left_Box_Btn:hover {
        color: #fff;
        background-color: #212221;
        cursor: pointer;
    }
    
    /* Main_Product_Box_Left_end */
    
    .Main_Product_Top_Box_Right {
        width: 100%;
    }
    
    .Top_Right_Box_Img > img {
        display: block;
        width: 100%;
    }
    
    /* Main_Product_Box_right_end */
    
    .Main_Product_Mid_Box {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    /* Main_Product_Mid_Box_end */
    
    .Main_Product_Mid_Box_Left {
        width: 100%;
    }
    
    .Mid_Left_Box_Img > img {
        display: block;
        width: 100%;
    }
    
    /* Main_Product_Mid_Box_Left_end */
    
    .Main_Product_Mid_Box_Right {
        width: 100%;
        text-align: center;
    }
    
    .Mid_Right_Box_Top_Txt {
        font-size: 24px;
        margin-top: 15px;
        line-height: 34px;
    }
    
    .Mid_Right_Box_Mid_Txt {
        margin-top: 30px;
        color: #4d4e4d;
        font-size: 18px;
        line-height: 28px;
    }
    
    .Mid_Right_Box_Btn {
        display: inline-block;
        min-width: 165px;
        font-size: 14px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #212221;
        transition: all 0.3s ease-out 0s;
    }
    
    .Mid_Right_Box_Btn:hover {
        color: #fff;
        background-color: #212221;
        cursor: pointer;
    }
    
    /* Main_Product_Right_Box_end */
    
    .Main_Product_Bottom_Box {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    /* Main_Product_Bottom_Box_end */
    
    .Main_Product_Bottom_Box_Left {
        width: 100%;
    }
    
    .Bottom_Left_Box_Top_Txt {
        font-size: 24px;
        margin-top: 15px;
        line-height: 34px;
    }
    
    .Bottom_Left_Box_Mid_Txt {
        margin-top: 30px;
        color: #4d4e4d;
        font-size: 18px;
        line-height: 28px;
    }
    
    .Bottom_Left_Box_Btn {
        display: inline-block;
        min-width: 220px;
        font-size: 18px;
        text-align: center;
        line-height: 58px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #212221;
        transition: all 0.3s ease-out 0s;
    }
    
    .Bottom_Left_Box_Btn:hover {
        color: #fff;
        background-color: #212221;
        cursor: pointer;
    }
    
    /* Main_Product_Bottom_Box_Left_end */
    
    .Main_Product_Bottom_Box_Right {
        width: 100%;
    }
    
    .Bottom_Right_Box_Img > img {
        display: block;
        width: 100%;
    }
    
    /* Main_Product_Bottom_Box_Right_end */
    
    .Top_Banner_Img_Box {
        display: block;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .Top_Banner_Img_Box > img {
        display: block;
        width: 100%;
        height: 100vh;
    }
    
    /* Top_Banner_Img_end */
    
    .Top_Banner_Txt {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        color: #fff;
    }
    
    .Top_Banner_Box_Top_Txt {
        font-size: 24px;
        padding: 20px;
        line-height: 34px;
        font-weight: 600;
    }
    
    .Top_Banner_Box_Mid_Txt {
        margin-top: 15px;
        font-size: 16px;
        line-height: 24px;
        padding: 0 20px;
        font-weight: 600;
    }
    
    .Top_Banner_Box_Btn {
        display: inline-block;
        min-width: 165px;
        font-size: 14px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        border: 1px solid #fff;
        transition: all 0.3s ease-out 0s;
    }
    
    .Top_Banner_Box_Btn:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
    
    /* Top_Banner_Txt_end */
    
    .Bottom_Banner_Img_Box {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .Bottom_Banner_Img_Box > img {
        display: block;
        width: 100%;
        height: 100vh;
    }
    
    /* Bottom_Banner_Img_end */
    
    .Bottom_Banner_Txt {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        color: #212221;
    }
    
    .Bottom_Banner_Box_Top_Txt {
        padding: 0 20px;
        font-size: 22px;
        line-height: 34px;
        font-weight: 600;
    }
    
    .Bottom_Banner_Box_Mid_Txt {
        font-size: 17px;
        line-height: 24px;
        padding: 0 20px;
        font-weight: 600;
    }
    
    .Bottom_Banner_Box_Btn {
        display: inline-block;
        min-width: 165px;
        font-size: 14px;
        text-align: center;
        line-height: 44px;
        font-weight: bold;
        margin: 40px 0 20px;
        background-color: rgba(0, 0, 0, 0);
        color: #212221;
        border: 1px solid #212221;
        transition: all 0.3s ease-out 0s;
    }
    
    .Bottom_Banner_Box_Btn:hover {
        background-color: #212221;
        color: #fff;
        cursor: pointer;
    }
    
    /* Bottom_Banner_Txt_end */
    
    .Count_Page {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 40px;
        height: auto;
        overflow-x: hidden;
        background-image: none;
        padding: 0 20px;
        height: 100%;
    }
    
    .Count_Page_Title {
        font-size: 30px;
        width: 100%;
        
    }

    .Count_Page_Sub_Title {
        position: absolute;
        right: 15px;
        top: 85px;
        color: #4d4e4d;
        font-size: 18px;
    }
    
    .Count_Menu {
        height: 100%;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Count {
        width: 100%;
        margin: 0 auto;
        font-size: 60px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 25px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        padding: 30px 0;
    }

    .Count_Menu > .Count:last-child {
        border-bottom: none;
    }
       
    .Count > .Sub {
        margin-left: 10px;
        font-weight: bold;
        font-size: 26px;
    }
       
    .Bottom_Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Count_Page_end */
    
    .News_Page {
        margin-top: 0;
        height: 100%;
        padding: 10px 0;
        padding-top: 60px;
    }
    
    .News_Title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-top: 20px;
    }

    .News_Title > h1 {
        font-size: 32px;
        text-align: left;
        line-height: 40px;
        position: absolute;
    }
    
    .News_Btn {
        position: absolute;
        width: 54px;
        height: 54px;
        right: 20px;
        font-size: 30px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-out 0s;
    }
    
    .News_Btn:hover {
        background-color: #000;
        color: #fff;
    }
    
    /* News_Page_Title_end */
    
    .Main_News_Content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    
    .Content {
        width: 100%;
        box-sizing: border-box;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 20px;
    }    

    .Main_News_Content > .Content:nth-child(2) {
        margin: 0px;
    }

    .Main_News_Content > .Content > img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .Main_News_Title {
        max-width: 410px;
        margin-top: 30px;
        font-size: 18px;
        font-weight: 500;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        line-height: 28px;        
    }
    
    /* Main_News_Page_end */

    .Main_Bottom_Box {
        width: 100%;
    }
    
    .Main_Bottom_Img {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    
    .Main_Bottom_Img > img {
        width: 100%;
        height: 480px;
        display: block;
    }
    
    /* Main_Bottom_Img_end */
    
    .Main_Bottom {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
    }

    .Left_Arrow,
    .Right_Arrow {
        cursor: pointer;
        display: none;
    }

    .Main_Bottom_Txt {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 0;
        color: #fff;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        text-align: center;
    }

    .Main_Bottom_Txt > div:nth-child(2) {
        margin: 15px 0 20px 0;
        font-size: 16px;
        line-height: 26px;
    }

    .Main_Bottom_Txt_Btn {
        display: inline-block;
        min-width: 165px;
        border: 1px solid #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 44px;
        transition: all 0.3s ease-out 0s;
        cursor: pointer;
    }

    .Main_Bottom_Txt_Btn:hover {
        background-color: #fff;
        color: #212221;
    }

    /* Main_Bottom_Txt_end */

    .Footer_Main {
        width: 100%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
        position: relative;
    }
    
    /* Footer_Main_end */

    .Footer_Top_Box_Left {
        display: none;
    }
    
    /* Footer_Top_Box_Left_end */
    
    .Footer_Menu {
        display: none;
    }

    /* Footer_Menu_end */
    
    .Footer_Top_Box_Right {
        position: static;
        margin-bottom: 30px;
    }
    
    .Select {
        position: relative;
        left: 50%;
        font-size: 18px;
    }
    
    .Footer_Family .Select_Button {
        width: 370px;
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        border: transparent;
        background-color: #102d48;
        padding: 10px 24px;
    }
    
    .Select_Button:after {
        content: '▼';
        position: absolute;
        top: 50%;
        right: 30px;
        width: 10px;
        height: 5px;
        margin-top: -2px;
        background-repeat: no-repeat;
        background-position: 50%;
        transition: transform 0.3s ease-out 0s;
        display: flex;
        align-items: center;
    }
    
    .Select_List {
        width: 370px;
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        padding: 0;
        border: 1px solid #e0e0e0;
        background: #fff;
        z-index: 10;
    }
    
    .Select_List.on {
        display: block;
    }
    
    .Select_List > li {
        padding: 5px 30px;
        cursor: pointer;
    }
    
    /* Footer_Top_Box_Right_end */
    
    .Footer_Bottom_Box {
        padding: 30px;
        border-top: none;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-align: left;
    }
    
    .Footer_Contents {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        line-height: 1;
    }
    
    .Footer_Contents > li {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    
    .Footer_Item {
        font-weight: 300;
        line-height: 1;
    }
    
    .Footer_Item > strong {
        margin-right: 5px;
        font-weight: 600;
    }
    
    /* Footer_Content_end */

    .Footer_Top {
        position: absolute;
        right: 10px;
        bottom: 10px;
        margin-left: 10px;
        padding: 43px 1px 0;
        color: #fff;
        font-size: 15px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #123250;
        border: none;
        cursor: pointer;
        border-radius: 50%;
    }
    
    .Footer_Top > a {
        color: #fff;
    }
    
    .Footer_Top:before {
        content: '↑';
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-10%);
        width: 16px;
        height: 32px;
        margin-left: -8px;
        background-repeat: no-repeat;
        background-size: 16px 32px;
        font-size: 20px;
    }
    
    /* Footer_Top_end */
    
    .Footer_Bottom_Box {
        padding: 60px;
        border-top: none;
        font-size: 14px;
        color: #fff;
        font-weight: 300;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .Footer_Contents {
        width: 100%;
    }

    .Footer_Contents > li {
        flex-basis: 100%;
        margin: 5px 0 5px 0;
    }

    /* Footer_Content_end */

    .Footer_Bottom_Box_Bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 30px;
    }

    .Footer_Copyright {
        margin-top: 15px;
        line-height: normal;
    }

    .Footer_Etc {
        width: 100%;
        margin-left: -8px;
        font-size: 14px;
        display: inline;
    }

    .Footer_Etc > li > * {
        padding: 5px 8px;
    }
    

    /* Footer_Bottom_Box_Bottom_end */
    
}