*{
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul > li {
    list-style: none;
}

/* 기본설정 끝 */

.main {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* Main_end */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    position: fixed;
    z-index: 1000;
}

/* Header_end */

.menu_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-size: 18px;
}

.menu_list > li {
    position: relative;
}

.menu_list > li > a {
    display: inline-block;
    text-transform: uppercase;
}

.menu_list > li > a:after {
    content: "";
    display: block;
    border-bottom: solid 2px #212221;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.menu_list > li > a:hover:after {
    transform: scaleX(1);
} 

.menu_list > li:nth-child(6) {
    font-weight: bold;
}

.main_menu {
    position: relative;
    margin: 0 20px;
}

.main_menu:hover .sub_menu {
    display: block;
}

/* Menu_list_end */

.sub_menu {
    width: 150px;
    padding: 10px;
    font-size: 15px;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 5px;
    animation-name: slide_up;
    animation-duration: 1s;
    position: absolute; 
    top: 100%; 
    left: 0;
}

@keyframes slide_up {
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    50% {
        opacity: 1;
        transform: translate3d(1, 15%, 0); 
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0); 
    }
}

.sub_menu > li {
    text-align: left;
    margin: 5px 0;
    transition: all .3s;
}

.sub_menu > li > a {
    color: rgba(0, 0, 0, .5);
}

.sub_menu > li:hover > a {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

/* Sub_Menu_end */

.Show_menu {
    background-color: rgba(11, 30, 48, .9);
    color: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}

/* Show_menu_end */

.Show_Menu_Close_Button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}

.Show_Menu_Close_Button_Link {
    color: #fff;
    font-size: 18px;
}

/* Show_Menu_Close_Button_end */

.Show_Menu_List_item {
    font-size: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px; 
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.Show_Menu_List > .Show_Menu_List_item:last-child {
    border: none;
}

.Show_Menu_List_Sub_Menu {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.Show_Menu_List_Sub_Menu > li {
    font-size: 16px;
}

/* Show_Menu_List_end */

.logo {
    display: flex;
    justify-content: flex-start;
}

.Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.My_page_Icon {
    margin-right: 5px;
} 

.Menu_Bar {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.Main_BG {
    display: block;
    width: 100%;
    height: 100vh;
}

.bg-image {
    transition: opacity 0.3s ease-in-out;
  }
  

.BG_Image > img {
    width: 100vw;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.BG_Image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out;
}

.BG_Image img.active {
  opacity: 1;
  z-index: 1;
}

.BG_Image__0 {
  z-index: 1;
}

.BG_Image__1 {
  z-index: 0;
}

.BG_Image__2 {
  z-index: 0;
}

.BG_Text {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 10%;
    transform: translateX(-10%);
}

.BG_Text h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.BG_Text h3 {
    margin: 30px 0;
    font-size: 25px;
}

.BG_Text h4 {
    line-height: 25px;
    font-size: 16px;
}

.BG_Text_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: 500;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all .3s ease-out 0s;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 10%;
    transform: translateX(-10%);
}

.BG_Text_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}


.fade-in {
    opacity: 0;
    animation: fade-in-animation 2s ease-in-out forwards;
  }
  
  .fade-out {
    opacity: 1;
    animation: fade-out-animation 2s ease-in-out forwards;
  }
  
  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out-animation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/* Main_Visual_end */

.Main_Product_Top_Box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main_Product_Box_end */

.Main_Product_Top_Box_Left {
    width: 50%;
    text-align: center;
}

.Left_Box_Top_Txt {
    font-size: 30px;
}

.Left_Box_Mid_Txt {
    margin-top: 30px;
    color: #4d4e4d;
    font-size: 18px;
    line-height: 28px;
}

.Left_Box_Btn {
    display: inline-block;
    min-width: 220px;
    font-size: 18px;
    text-align: center;
    line-height: 58px;
    font-weight: 500;
    margin: 40px 0 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #212221;
    transition: all .3s ease-out 0s;
}

.Left_Box_Btn:hover {
    color: #fff;
    background-color: #212221;
    cursor: pointer;
}

/* Main_Product_Box_Left_end */

.Main_Product_Top_Box_Right {
    width: 50%;
}

.Right_Box_Img > img {
    display: block;
    width: 100%;
}

/* Main_Product_Box_right_end */